h2 {
  font-size: 20px;
}

ul.top {
  float:right;
}

.grey {
  background-color: #F5F5F5;
  border: 1px solid #C8C8C8;
  padding: 2px;
  margin: 10px;
}
.green {
  background-color: #F2FCEE;
}

.blue {
  background-color: #EEF7FC;
}
