h2 {
  font-size: 20px;
}

ul.top {
  float:right;
}

.grey {
  background-color: #F5F5F5;
  border: 1px solid #C8C8C8;
  padding: 2px;
  margin: 10px;
}

.panel-heading {
  background-color: orange;
}

.panel  {
  background-color: purple;
}

.green {
  background-color: green;
}
